body {
	font-family: 'Noto Serif', serif;
}

.row {
  margin-bottom: 15px;
}

.medal, .best {
  border-radius: 5px;
  color: white;
  padding: 1.3rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: inline-block;
  line-height: 1;
  margin: 1rem 0;
  text-align: center;
}

.silver {
	background-color: #ada8a8;
}

.gold {
	background-color: #dcbd15;
}

.best {
	background-color: #0fa0ce;
}

.category {
	font-weight: bold;
}

.publication {
	font-style: italic;
	color: gray;
}

.judges {
	margin-top: 1rem;
}

h2 {
  font-weight: 600;
  text-align: center;
}

h2 a {
  color: black;
  text-decoration: none;
}

.image {
  width: 50%;
  float: left;
  margin: -1% 1% 0 -2%;
}

.image img {
  width: 100%;
}

.image-false h3 {
  width: 220px;
  margin: 1rem auto;
  display: block;
}

.image-false .category, .image-false .publication {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .image {
    float: none;
    width: 100%;
    margin: -1% 0 0 -4%;
  }

  h2 {
    text-align: left;
    margin-bottom: 0px;
  }
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}